.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

.App-header {
    background-color: #87cefa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn {
    background-color: #1e90ff;
    color: white;
}

.register-btn {
    background-color: #00bfff;
    color: white;
}

.App-main {
    padding: 20px;
    background-image: url('/background.jpg'); /* Adjust the background image as needed /
  background-size: cover;
  color: #000;
  max-width: 800px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8); / white background with opacity */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .App-main h1 {
        margin-top: 0;
    }
